<div class="row w-100 d-flex justify-content-center m-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 p-0 m-0 bg-light">
    <aside class="conatiner d-flex" >
      <section class="barra-lateralPrest">
        <div class="foto-perfilPrest">
            <div class="iconesPrest">
              <div class="input-group">
                <a href="#" class="botao-comunicacaoPrest"><img src="/img/phone.png" alt="Telefone"></a>
                <a href="#" class="usuarioPrest"><img src=<%= data.prestador.avatar %> alt="Usuário"></a>
                <a href="#" class="botao-comunicacaoPrest"><img src="/img/mail.png" alt="Email"></a>
              </div>
          </div>
       
          <div class="dadosPrest">
            <a href="#">
              <h6><%=data.prestador.nome  %> <h6>
            </a>
            
          </div>
        </div>

        <div class="opcoesPrest">
            <a href="/usuario/area-prestador/meusDados/<%=data.prestador.id%>"><img src="/img/meus-dados.png" alt="Meus Dados"><p>Meus Dados</p></a>
            <hr>
            <a href="/usuario/area-prestador/cadastro-servicos/<%=data.prestador.id%>"><img src="/img/pedidos.png"><p>Serviços</p></a>
            <hr>
            <a href="/usuario/area-prestador/requisicoes"><img src="/img/acompanhe.png"><p>Requisições</p></a>
            <hr>
            <!--  
            <a href="#"><img src="/img/prestadorIcon.png"><p>Prestador</p></a>
            <hr>
            <a href="#"><img src="/img/prestadorIcon.png"><p>Prestador</p></a>
            <hr>
            <a href="#"><img src="/img/prestadorIcon.png"><p>Prestador</p></a>
            <hr>
            <a href="#"><img src="/img/prestadorIcon.png"><p>Prestador</p></a>
            -->
            <hr>
        </div>
        
      </section>

      <section class="barra-superiorPrest">
        <div class="sessaoPrest">
          <a href="#">Sessão Atual</a>
        </div>
        <div class="caminho-paginaPrest">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">/ Login</a></li>
            <li><a href="#">/ Área Usuário</a></li>
          </ul>
        </div>
         <!-- cards área usuario -->
         <%- include("../include/cardsUsuario.ejs") %>

         <!-- subtela carregada de acordo com a rota acessada -->
         <%- include("../"+view+".ejs", {data}) %>
 

        

      </section>

    </aside>
  </div>
</div>