<div class="row w-100 d-flex justify-content-center m-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 p-0 m-0 bg-light">
    <aside class="conatiner d-flex">
      <section class="barra-lateralCont">
        <div class="foto-perfilCont">
          <div class="iconesCont">
            <div class="input-group">
              <a href="#" class="botao-comunicacaoCont"><img src="/img/phone.png" alt="Telefone"></a>
              <a href="#" class="usuarioCont">
                  <% if(data.cliente.avatar == 0){ %>
                    <img src="/img/userEmpty.jpeg" width="120px" height="120px" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">
                  <% } else {%>
                    <img src=<%= data.cliente.avatar %> width="120px" height="120px" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">

                  <% } %> 
              </a>
              <a href="#" class="botao-comunicacaoCont"><img src="/img/mail.png" alt="Email"></a>
            
            </div>
          </div>
          <div class="dadosCont">
            <a href="#">
              <h6><%=data.cliente.nome%></h6>
            </a>
            <a href="#">Alguma Informação</a>
          </div>
        </div>

        <div class="opcoesCont">
          <a href="/usuario/area-contratante/meus-dados/<%= data.cliente.id %>"><img src="/img/meus-dados.png" alt="Meus Dados">
            <p>Meus Dados</p>
          </a>
          <hr>
          <a href="/usuario/area-contratante/pedidos/<%= data.cliente.id %>"><img src="/img/pedidos.png" alt="Pedidos">
            <p>Pedidos</p>
          </a>
          <hr>
          <a href="/usuario/area-contratante/acompanhe"><img src="/img/acompanhe.png" alt="Acompanhe">
            <p>Acompanhe</p>
          </a>
          <hr>
          <a href="/usuario/area-contratante/orcamentos-bru/<%=data.cliente.id %>"><img src="/img/orcamento.png" alt="Orçamentos">
            <p>Orçamentos</p>
          </a>
          <hr>
          <a href="/usuario/area-contratante/historico-bru/<%=data.cliente.id %>"><img src="/img/historico.png" alt="Históricos">
            <p>Histórico</p>
          </a>
          <hr>
          <a href="/usuario/area-contratante/favoritos"><img src="/img/favorito.png" alt="Favoritos">
            <p>Favoritos</p>
          </a>
          <hr>
          <a href="/usuario/area-contratante/cupons/<%=data.cliente.id %>"><img src="/img/cupons.png" alt="Cupons">
            <p>Cupons</p>
          </a>
          <hr>
        </div>

      </section>

      <section class="barra-superiorCont">
        <div class="sessaoCont">
          <a href="#">Sessão Atual</a>
        </div>
        <div class="caminho-paginaCont">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">/ Login</a></li>
            <li><a href="#">/ Área Usuário</a></li>
          </ul>
        </div>

        <!-- cards área usuario -->
        <%- include("../include/cardsUsuario.ejs") %>

        <!-- subtela carregada de acordo com a rota acessada -->
        <%- include("../"+view+".ejs", {data}) %>

      </section>

    </aside>
  </div>
</div>