<% if(data.prestador.contatos_prestadores != ""){ %>

        <div class="card-body">
  
          <!-- formulario contato -->
  <!--FORM GET-SHOW -->
          <form action="/usuario/area-prestador/meusDados/<%=data.prestador.id%>/contatos" method="GET">
            <!-- input linha 1 -->
            <div class="form-row">
              <!-- input cel1 -->
              <div class="form-group col-md-6">
                <label for="cel1">Celular 12</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Celular 1</span>
                  </div>
                  <input type="tel" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cel1"
                    value="<%= data.prestador.celular_principal %>" readonly maxlength="11"
                    pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$">
                </div>
              </div>
  
              <!-- input cel2 -->
              <div class="form-group col-md-6">
                <label for="cel2">Celular 2</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Celular 2</span>
                  </div>
                  <input type="tel" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cel2"
                    value="<%= data.prestador.celular_secundario %>" readonly maxlength="11"
                    pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$">
                </div>
              </div>
            </div>
  
            <!-- input linha 2 -->
            <div class="form-row">
              <!-- input telefone -->
              <div class="form-group col">
                <label for="tel">Telefone</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Telefone</span>
                  </div>
                  <input type="tel" class="form-control campoMeusDadosStyle campoDadoReadonly" id="tel"
                    value="<%= data.prestador.telefone_residencial %>" readonly maxlength="10"
                    pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$">
                </div>
              </div>
            </div>
  
            <!-- input linha 3 -->
            <div class="form-row">
              <!-- input email -->
              <div class="form-group col">
                <label for="email">E-mail principal</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">@</span>
                  </div>
                  <input type="email" class="form-control campoMeusDadosStyle campoDadoReadonly" id="email"
                    value="<%= data.prestador.email_principal %>" readonly>
                </div>
              </div>
            </div>
            <!-- input linha 3 -->
            <div class="form-row">
              <!-- input email -->
              <div class="form-group col">
                <label for="email">E-mail secundário</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">@</span>
                  </div>
                  <input type="email" class="form-control campoMeusDadosStyle campoDadoReadonly" id="email"
                    value="<%= data.prestador.email_secundario %>" readonly>
                </div>
              </div>
            </div>
  
            <!-- botao editar ABRE O MODAL-->
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-end"><button type="button" class="btn botaoMeusDados" data-toggle="modal"
                data-target="#editarDadosContatoContratante">Editar</button></div>
          </form>
        </div>
    
    <!-- Modal ------------------------------------------------->
  
    <% } else { %>
  
  
    <!-- card sanfona 3 ------------------------------------------------->
   
        <div class="card-body">
  
          <!-- formulario contato -->
  <!--FORM VAZIO-->
          <form>
            <!-- input linha 1 -->
            <div class="form-row">
              <!-- input cel1 -->
              <div class="form-group col-md-6">
                <label for="cel1">Celular 1</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Celular 1</span>
                  </div>
                  <input type="tel" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cel1"
                  placeholder="complete seu cadastro" readonly maxlength="11"
                    pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$">
                </div>
              </div>
  
              <!-- input cel2 -->
              <div class="form-group col-md-6">
                <label for="cel2">Celular 2</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Celular 2</span>
                  </div>
                  <input type="tel" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cel2"
                  placeholder="complete seu cadastro" readonly maxlength="11"
                    pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$">
                </div>
              </div>
            </div>
  
            <!-- input linha 2 -->
            <div class="form-row">
              <!-- input telefone -->
              <div class="form-group col">
                <label for="tel">Telefone</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Telefone</span>
                  </div>
                  <input type="tel" class="form-control campoMeusDadosStyle campoDadoReadonly" id="tel"
                  placeholder="complete seu cadastro" readonly maxlength="10"
                    pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$">
                </div>
              </div>
            </div>
  
            <!-- input linha 3 -->
            <div class="form-row">
              <!-- input email -->
              <div class="form-group col">
                <label for="email">E-mail principal</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">@</span>
                  </div>
                  <input type="email" class="form-control campoMeusDadosStyle campoDadoReadonly" id="email"
                  placeholder="complete seu cadastro" readonly>
                </div>
              </div>
            </div>
            <!-- input linha 3 -->
            <div class="form-row">
              <!-- input email -->
              <div class="form-group col">
                <label for="email">E-mail secundário</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">@</span>
                  </div>
                  <input type="email" class="form-control campoMeusDadosStyle campoDadoReadonly" id="email"
                  placeholder="complete seu cadastro" readonly>
                </div>
              </div>
            </div>
  
            <!-- botao editar ABRE O MODAL-->
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-end">
              <button type="button" class="btn botaoMeusDados">Editar</button>
            </div>
          </form>
        </div>
    
    <!-- Modal ------------------------------------------------->
   
    <% } %>
    