 <!-- Modal -->
 <% if(data.prestador.prestadores_enderecos != ""){ %>
     <div class="modal-body bg-roxoClaro">
       <!-- formulario editar endereço -->

<!--FORM POST-UPDATE-->
       <form id="formeUp" action="/usuario/area-prestador/meusDados/<%=data.prestador.id%>/endereco?_method=PUT"  method="POST">
         <!-- input linha 1 -->
         <div class="form-row">
           <!-- input data cep -->
           <div class="form-group col-6">
             <label for="cepUp">CEP</label>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text etiquetaCampo">CEP</span>
               </div>
               <input type="number" class="form-control campoMeusDadosStyle campoDadoReadonly"
                 value="<%= data.prestador.cep %>" id="cepUp" placeholder="CEP - apenas números" maxlength="8"
                 pattern="[0-9]+$">
             </div>
             <span id="errorCEPUp"></span>
           </div>

           <!-- buttom pesquisar cep -->
           <div class="form-group col-6">
             <label>Buscar cep</label>

             <div class="input-group">
               <button id="buscarCepUp" type="button" class="btn botaoMeusDados"><img src="/img/endereco.png" alt="Meus dados"
                   title="Meus dados">Pesquisar</button>
             </div>
           </div>
         </div>
         <!-- input linha 2 -->
         <div class="form-row">
           <!-- input UF -->
           <div class="form-group col-md-6">
             <label for="ufUp">UF</label>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text etiquetaCampo">UF</span>
               </div>
               <input type="text" class="form-control campoMeusDadosStyle campoDadoReadonly"
                 value="<%= data.prestador.uf %>" id="ufUp" placeholder="Estado - UF" maxlength="2">
             </div>
           </div>
           <!-- input cidade -->
           <div class="form-group col-md-6">
             <label for="cidadeUp">Cidade</label>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text etiquetaCampo">Cidade</span>
               </div>
               <input type="text" class="form-control campoMeusDadosStyle campoDadoReadonly"
                 value="<%= data.prestador.cidade %>" id="cidadeUp" placeholder="Digite sua cidade">
             </div>
           </div>
         </div>

         <!-- input linha 3 -->
         <div class="form-row">
           <!-- input rua -->
           <div class="form-group col">
             <label for="ruaUp">Rua</label>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text etiquetaCampo">Rua</span>
               </div>
               <input type="text" class="form-control campoMeusDadosStyle campoDadoReadonly"
                 value="<%= data.prestador.logradouro %>" id="ruaUp" placeholder="Digite sua rua">
             </div>
           </div>
         </div>

         <!-- input linha 3 -->
         <div class="form-row">
           <!-- input numero -->
           <div class="form-group col-md-6">
             <label for="numeroUp">Nº</label>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text etiquetaCampo">Nº</span>
               </div>
               <input type="number" class="form-control campoMeusDadosStyle campoDadoReadonly"
                 value="<%= data.prestador.numero %>" id="numeroUp" placeholder="Número" pattern="[0-9]+$">
             </div>
           </div>
           <!-- input complemento -->
           <div class="form-group col-md-6">
             <label for="complementoUp">Complemento</label>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text etiquetaCampo">Complemento</span>
               </div>
               <input type="text" class="form-control campoMeusDadosStyle campoDadoReadonly"
                 value="<%= data.prestador.complemento %>" id="complementoUp" placeholder="Complemento">
             </div>
           </div>
         </div>

         <!-- botao editar ABRE O MODAL-->
         <!-- Button trigger modal -->
         <div class="d-flex justify-content-end">
           <button type="submit" class="btn botaoMeusDados">SALVAR</button>
         </div>
       </form>

     </div>
    
<!-- fim Modal ------------------------------------------------->

<!-- Modal -->
<% } else { %>
    <div class="modal-body bg-roxoClaro">
      <!-- formulario editar endereço -->

<!--FORM POST - CADASTRO-->
      <form id="formep" action="/usuario/area-prestador/meusDados/<%=data.prestador.id%>/endereco" method="POST">
        <!-- input linha 1 -->
        <div class="form-row">
          <!-- input data cep -->
          <div class="form-group col-6">
            <label for="cepp">CEP</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text etiquetaCampo">CEP</span>
              </div>
              <input type="number" name="prestadorCep" class="form-control campoMeusDadosStyle campoDadoReadonly"
                id="cepp" placeholder="CEP - apenas números" maxlength="8" pattern="[0-9]+$">
            </div>
            <span id="errorCEPp"></span>
          </div>

          <!-- buttom pesquisar cep -->
          <div class="form-group col-6">
            <label>Buscar cep</label>

            <div class="input-group">
              <button id="buscarCepp" type="button" class="btn botaoMeusDados"><img src="/img/endereco.png" alt="Meus dados"
                  title="Meus dados">Pesquisar</button>
            </div>
          </div>
        </div>
        <!-- input linha 2 -->
        <div class="form-row">
          <!-- input UF -->
          <div class="form-group col-md-6">
            <label for="UFp">UF</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text etiquetaCampo">UF</span>
              </div>
              <input type="text" name="prestadorUf" class="form-control campoMeusDadosStyle campoDadoReadonly"
                id="UFp" placeholder="Estado - UF" maxlength="2">
            </div>
          </div>
          <!-- input cidade -->
          <div class="form-group col-md-6">
            <label for="cidadep">Cidade</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text etiquetaCampo">Cidade</span>
              </div>
              <input type="text" name="prestadorCidade" class="form-control campoMeusDadosStyle campoDadoReadonly"
                id="cidadep" placeholder="Digite sua cidade">
            </div>
          </div>
        </div>

        <!-- input linha 3 -->
        <div class="form-row">
          <!-- input rua -->
          <div class="form-group col">
            <label for="ruap">Rua</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text etiquetaCampo">Rua</span>
              </div>
              <input type="text" name="prestadorRua" class="form-control campoMeusDadosStyle campoDadoReadonly"
                id="ruap" placeholder="Digite sua rua">
            </div>
          </div>
        </div>

        <!-- input linha 3 -->
        <div class="form-row">
          <!-- input numero -->
          <div class="form-group col-md-6">
            <label for="numerop">Nº</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text etiquetaCampo">Nº</span>
              </div>
              <input type="number" name="prestadorN" class="form-control campoMeusDadosStyle campoDadoReadonly"
                id="numerop" placeholder="Número" pattern="[0-9]+$">
            </div>
          </div>
          <!-- input complemento -->
          <div class="form-group col-md-6">
            <label for="complementop">Complemento</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text etiquetaCampo">Complemento</span>
              </div>
              <input type="text" name="prestadorComplemento"
                class="form-control campoMeusDadosStyle campoDadoReadonly" id="complementop"
                placeholder="Complemento">
            </div>
          </div>
        </div>

        <!-- botao editar ABRE O MODAL-->
        <!-- Button trigger modal -->
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn botaoMeusDados">SALVAR</button></div>
      </form>

    </div>
   
<!-- fim Modal ------------------------------------------------->
<% } %>