<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Cadastre Prestador'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="cadastro-prestador col-12 m-0 p-0">
      <div class="card formContatoSistema col-11 col-sm-11 col-md-7 col-lg-6 col-xl-5 p-0 m-0">
          <!-- topo 3 sanfona -->
          <div class="card-header sanfonaTopoMeusDados" id="headingThree">
              <h5 class="mb-0">
                  <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                     
                      Cadastre-se!
                  </button>
              </h5>
          </div>
          <div class="card-body">
              <!-- formulario contato -->
              <form action="/cadastro/prestador" class="d-flex flex-column justify-content-center" id="formularioPrestador" method="POST">
                  <!-- input linha -->
                  <div class="form-row">
                      <!-- input Assunto -->
                      <div class="form-group col">
                          <label for="prestador-inputNome">Nome</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text etiquetaCampo">Nome</span>
                              </div>
                              <input type="text" name="prestadorNome" id="prestador-inputNome" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                   placeholder="Digite seu nome">   
                            
                              </div>
                      </div>
                  </div>

                  <!-- input linha -->
                  <div class="form-row">
                      <!-- input Nome -->
                      <div class="form-group col">
                          <label for="prestador-inputEmail">E-mail</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text etiquetaCampo">E-mail</span>
                              </div>
                              <input type="text" name="prestadorEmail" id="prestador-inputEmail" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                  placeholder="Digite seu e-mail">
                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                    <!-- input email -->
                    <div class="form-group col">
                        <label for="prestador-inputCpf">CPF</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text etiquetaCampo">CPF</span>
                            </div>
                            <input type="text" name="prestadorCpf" id="prestador-inputCpf" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                placeholder="Digite seu CPF">

                        </div>
                    </div>
                  </div>

                  <!-- input linha 3 -->
                  <div class="form-row">
                      <!-- input email -->
                      <div class="form-group col">
                          <label for="prestador-inputSenha">Senha</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text etiquetaCampo">Senha</span>
                              </div>
                              <input type="password" name="prestadorSenha" id="prestador-inputSenha" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                   placeholder="Insira sua senha">
                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                    <!-- input email -->
                    <div class="form-group col">
                        <label for="prestador-inputRepetirSenha">Repetir senha</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text etiquetaCampo">Repetir senha</span>
                            </div>
                            <input type="password" name="repetirSenha" id="prestador-inputRepetirSenha" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                placeholder="Repetir senha">

                        </div>
                    </div>
                </div>

          <div class="alert alert-danger alert-dismissible fade show" id="alert-cadP" role="alert" hidden>
              <ul></ul>
              <button type="button" class="close" id="close-listP" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         

                  <div class="d-flex justify-content-end">
                      <button type="submit" class="btn botaoMeusDados" id="buttonPrestador">CADASTRAR</button>
                  </div>
              </form>
          </div>
      </div>
    
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>
</body>

</html>