<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Cadastre Prestador'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="cadastro-prestador col-12 m-0 p-0">
    <div class="content-ls">

      <div class="form-cadastroPrestador" id="containerPrestador">
        <h2>Deseja criar um perfil profissional?</h2>
        <h3 class="prestador-titulo">CADASTRE-SE:</h3>

        <form action="/cadastro/prestador" class="d-flex flex-column justify-content-center" id="formularioPrestador" method="POST">

          <div class="form-row">
            <div class="form-group col-md-12">
              <input class="form-control" type="text" name="prestadorNome" id="prestador-inputNome" placeholder="Nome">     
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-12">
             <input class="form-control" type="text" name="prestadorEmail" id="prestador-inputEmail" placeholder="Email">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="password" name="prestadorSenha" id="prestador-inputSenha" placeholder="Senha">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="password" name="repetirSenha" id="prestador-inputRepetirSenha" placeholder="Repetir senha">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="text" name="prestadorCpf" id="prestador-inputCpf" placeholder="CPF">
            </div>
          </div>

          <div class="alert alert-warning alert-dismissible fade show" id="alert-cadP" role="alert" hidden>
            <ul></ul>
            <button type="button" class="close" id="close-listP" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <% if (typeof msgEmailP !== "undefined") { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= msgEmailP %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>

          <button type="submit" class="align-self-center" id="buttonPrestador">Cadastrar</button>
          <p class="align-self-center">Faça o cadastro com:</p>
          <div class="faca-loginCadP align-self-center">
            <a href="#"><img src="/img/login-google.png"></a>
            <a href="#"><img src="/img/login-linkedin.png"></a>
            <a href="#"><img src="/img/login-facebook.png"></a>
          </div>
        </form>

      </div>

    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>
</body>

</html>