<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Cadastre Prestador'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="cadastro-prestador col-12 m-0 p-0">
    <div class="content-ls">

      <div class="form-cadastroPrestador">
        <h3 class="prestador-titulo">CADASTRE-SE:</h3>

        <form action="/cadastro/prestador" class="d-flex flex-column justify-content-center" method="POST">

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="prestador-inputNome1">Nome</label>
              <input type="text" name="name" class="form-control" id="prestador-inputNome1">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="prestador-inputEmail1">Email</label>
              <input type="email" name="email" class="form-control" id="prestador-inputEmail1">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="prestador-inputSenha1">Senha</label>
              <input type="password" name="password" class="form-control" id="prestador-inputSenha1">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="prestador-inputTelefone1">Telefone</label>
              <input type="number" name="telefone" class="form-control" id="prestador-inputTelefone1">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="prestador-inputCpf">CPF</label>
              <input type="number" name="cpf" class="form-control" id="prestador-inputCpf">
            </div>
          </div>

          <button type="submit" class="align-self-center">Cadastrar</button>

        </form>

      </div>

    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>
</body>

</html>