<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Cadastre Contratante'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="cadastro-contratante col-12 m-0 p-0">
    <div class="content-ls">

      <div class="form-cadastroContratante" id="containerContratante">
        

        <h3 class="contratante-titulo">CADASTRE-SE:</h3>

        <form action="/cadastro/contratante" class="d-flex flex-column justify-content-center" id="formularioContratante" method="POST">
          <div class="form-row">
            <div class="form-group col-md-12">
              <input class="form-control" type="text" name="contratanteNome" id="contratante-inputNome" placeholder="Nome">     

  
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="text" name="contratanteEmail" id="contratante-inputEmail" placeholder="Email">
              </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="password" name="contratanteSenha" id="contratante-inputSenha" placeholder="Senha">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="password" name="ContratanteRepetirSenha" id="contratante-inputRepetirSenha" placeholder="Repetir senha">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="text" name="contratanteCpf" id="contratante-inputCpf" placeholder="CPF">
            </div>
          </div>

          <div class="alert alert-warning alert-dismissible fade show" id="alert-cadC" role="alert" hidden>
            <ul></ul>
            <button type="button" class="close" id="close-listC" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <% if (typeof msgEmailC !== "undefined") { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= msgEmailC %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>

          <button type="submit" class="align-self-center" id="buttonContratante">Cadastrar</button>
          <p class="align-self-center">Faça o cadastro com:</p>
          <div class="faca-loginCadP align-self-center">
            <a href="#"><img src="/img/login-google.png"></a>
            <a href="#"><img src="/img/login-linkedin.png"></a>
            <a href="#"><img src="/img/login-facebook.png"></a>
          </div>
        </form>

      </div>

    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>
  
</body>

</html>