<div class="col-12">
    <div class="card p-0 m-0" style="border: none;">
        <div class="card-header card-hd-orcamento m-0">
            Orçamento Nº <%= data.dados.numServico %> - <%= data.dados.servico %>
        </div>

        <% if (typeof data.msg != "undefined") { %>
            <% if(data.msg.status){ %>
                <div class="row alert alert-success msgErroLogin m-0">
                    <img src="/img/alert.svg" alt="ok">
                    <%= data.msg.resposta  %> 
                </div>
            <% }else{ %>
                <div class="row alert alert-danger msgErroLogin m-0">
                    <img src="/img/alert.svg" alt="erro">
                    <%= data.msg.resposta  %> 
                </div>
            <% } %>
        <% } %>

        <style>
            .form-control:disabled, .form-control[readonly]{
                background-color: #fff;
                opacity: 1;
            }
            .inputOrcamento{
                border: none;
                border-bottom: #203573 3px solid;
                border-radius: 0;
            }
        </style>

        <div class="card-body">
            <form action="/usuario/area-prestador/envia-orcamento" method="POST">
                <input type="text" name="numServico" class="form-control input-form-preocarmento" hidden
                placeholder="numero do serviço" value="<%= data.dados.numServico %>">

                <div class="form-row mb-3">
                    <div class="col-6">
                        <label>Prestador</label>
                        <input type="text" name="prestador" class="inputOrcamento form-control"
                        placeholder="Nome do prestador" value="<%= data.dados.nomePrestador %>" readonly>
                    </div>
                    <div class="col-6">
                        <label>Cliente</label>
                        <input type="text" name="cliente" class="inputOrcamento form-control"
                        placeholder="Nome do cliente" value="<%= data.dados.nomeCliente %>" readonly>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-6">
                        <label>Serviço</label>
                        <input type="text" name="servico" class="inputOrcamento form-control"
                            placeholder="Titulo do pedido" value="<%= data.dados.servico %>" readonly>
                    </div>
                    <div class="col-6">
                        <label>Data marcada para o serviço</label>
                        <input type="date" name="dataServico" value="<%= data.moment(data.dados.data).format('YYYY-MM-DD')
                        %>" class="inputOrcamento form-control" readonly>
                    </div>
                </div>

                
                <div class="form-row mb-3">
                    <div class="col-6">
                        <label>Detalhes do Serviço</label>
                        <textarea class="inputOrcamento form-control" name="detalhes" id="detalhes" cols="30"
                        rows="auto" readonly><%= data.dados.detalhes %></textarea>
                    </div>
                    <div class="col-6">
                        <label>Resumo do Serviço</label>
                        <textarea class="inputOrcamento form-control" name="resumo" id="detalhes" cols="30"
                        rows="auto"></textarea>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-6">
                        <label>Valor</label>
                        <input type="number" name="valor" class="form-control inputOrcamento"
                        placeholder="Valor do orçamento">
                    </div>
                    <div class="col-6 d-flex align-items-end">
                        <button type="submit" id="modalPedido" class="w-100 btn btn-success bg-verde">Enviar Orçamento</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- ***************** -->