<!DOCTYPE html>
<html lang="pt-br">
    <%- include('include/head', {title:'Como funciona'}) %>

    <body>
        <%- include('include/header')%>
        <%- include('include/menuNav') %>
        <main>
            <!-- seção contratante -->
            <section class="container-fluid sessaoGradienteRB m-0 p-0">
                <div class="sessaoContratanteContato py-2 d-flex justify-content-center align-items-center">
                    <!-- espaço -->
                    <div class="row w-100 d-flex justify-content-center m-0 p-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 p-0 m-0 d-flex justify-content-center align-items-center">
                            
                            <div class="row w-100 p-0 m-0 d-flex justify-content-center align-items-center contemColsContratante">
                                <div class="col-12 col-md-6">
                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="bg-roxoRS circuloEtapas d-flex justify-content-center align-items-center">
                                                1
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaContratante p-1 d-flex justify-content-center align-items-center">
                                                Cadastre-se em nossa plataforma e tenha acesso aos melhores serviços!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="bg-roxoRS circuloEtapas d-flex justify-content-center align-items-center">
                                                2
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaContratante p-1 d-flex justify-content-center align-items-center">
                                                Navegue entre as categorias ou pelos nossos profissionais.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="bg-roxoRS circuloEtapas d-flex justify-content-center align-items-center">
                                                3
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaContratante p-1 d-flex justify-content-center align-items-center">
                                                Envie solicitações de interesse e receba orçamentos dos prestadores!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="bg-roxoRS circuloEtapas d-flex justify-content-center align-items-center">
                                                4
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaContratante p-1 d-flex justify-content-center align-items-center">
                                                Acompanhe sua solicitação 
                                                através da plataforma.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 imgEtapaContratante d-flex justify-content-center align-items-center">
                                    <img src="/img/etapaContratante.png" alt="Etapas contratante">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </section>

            <!-- seção contratante -->
            <section class="container-fluid sessaoGradienteRBprestador m-0 p-0">
                <div class="sessaoComoFuncionaPrestador py-2 d-flex justify-content-center align-items-center">
                    <!-- espaço -->
                    <div class="row w-100 d-flex justify-content-center m-0 p-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 p-0 m-0 d-flex justify-content-center align-items-center">
                            
                            <div class="row w-100 p-0 m-0 d-flex justify-content-center align-items-center contemColsPrestador">
                                <div class="col-12 col-md-6 imgEtapaContratante d-flex justify-content-center align-items-center">
                                    <img src="/img/etapaPrestador.png" alt="Etapas contratante">
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="circuloEtapasPrestador d-flex justify-content-center align-items-center">
                                                1
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaPrestador p-2 d-flex justify-content-center align-items-center">
                                                Cadastre serviços e escolha seus clientes, atenda os que escolher.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="circuloEtapasPrestador d-flex justify-content-center align-items-center">
                                                2
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaPrestador p-1 d-flex justify-content-center align-items-center">
                                                Liberdade para escolher horários de trabalho.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="circuloEtapasPrestador d-flex justify-content-center align-items-center">
                                                3
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaPrestador p-1 d-flex justify-content-center align-items-center">
                                                Não interferimos na forma de pagamento dos seus serviços.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row etapa w-100 h-90px my-1 mx-0 p-1 d-flex justify-content-center align-items-center">
                                        <div class="col-2 p-1">
                                            <div class="circuloEtapasPrestador d-flex justify-content-center align-items-center">
                                                4
                                            </div>
                                        </div>
                                        <div class="col-10 p-1">
                                            <div class="etapaPrestador p-1 d-flex justify-content-center align-items-center">
                                                Divulgue seu trabalho e seja reconhecido!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        
        <%- include('include/footer') %>
        <%- include('include/script') %>

        <style>.img-footer{ display: none;}</style>

    </body>
</html>