<!DOCTYPE html>
<html lang="pt-br">
    <%- include('include/head', {title:'Contato'}) %>
    <body>
        <%- include('include/header')%>
        <%- include('include/menuNav') %>
        
        
        
        <%- include('include/footer') %>
        <%- include('include/script') %>
    </body>
</html>