<!DOCTYPE html>
<html lang="en">
<%- include('include/head', {title:'home'}) %>
<body>
    
    <%- include('include/menuNav') %>
    
    <%- include('include/script') %>
    <%- include('include/aside') %>
    <%- include('include/footer') %>
    <script src="/js/script-menu.js"></script>
</body>
</html>