<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'home'}) %>
<body>
    <%- include('include/header')%>
    <%- include('include/menuNav') %>
    
    
    <%- include('include/aside') %>
    <%- include('include/footer') %>
    <script src="/js/script-menu.js"></script>
    <%- include('include/script') %>
</body>
</html>