<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Entrar'}) %>

<body>
  <div class="container-page">
    <%- include('include/header')%>
    <%- include('include/menuNav') %>

    <main class="container login-selecione col-12 m-0 p-0">
      <div class="img-direcao">
        <img src="/img/seta.png">
      </div>

      <div class="content-ls row col-sm-12 col-md-12 col-lg-9 col-xl-8 m-0 p-0"> 
        <div class="conatiner-fluid col-12 m-0 p-0">

          <div class="row entre-prestador col-sm-12 h-50 m-0 p-0">

            <img src="/img/entre-prestador.png" alt="Prestador de Serviços">
            <div class="menuP">
              <h4 class="texto-prestador">Prestador de Serviços</h4>
              <a href="/login/Prestador/#login-prestador">ENTRE</a>
            </div>

          </div>


          <div class="row entre-contratante col-sm-12 h-50 m-0 p-0">

            <div class="menuC">
              <h4 class="texto-contratante">Contratante de Serviços</h4>
              <a href="/login/contratante/#login-contratante">ENTRE</a>
            </div>
            <img src="/img/entre-contratante.png" alt="Contratante de Serviços">

          </div>

        </div>
      </div>

    </main>

    <%- include('include/footer') %>
    <%- include('include/script') %>
  </div>
</body>

</html>