<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Entrar Contratante'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="container login-contratante col-12 m-0 p-0" id="login-contratante">
    <div class="content-ls row col-md-12 col-lg-10 col-xl-8 justify-content-around align-items-center m-0 p-0">

      <div class="form-contratante">
        <h2>Contratante</h2>
        <form action="">
          <input class="campo-contratante" type="email" name="email" id="email" placeholder="Email">
          <input class="campo-contratante" type="password" name="senha" id="senha" placeholder="Senha">
          <label class="check-contratante" for="checkbox-lembreContratante">
            <input id="checkbox-lembreContratante" type="checkbox" name="selecione" value="Lembre">
            Lembre de mim
          </label>

          <button class="entrar-contratante" type="submit">ENTRE</button>

        </form>

        <p>Faça login com:</p>
        <div class="faca-loginContratante">
          <a href="#"><img src="/img/login-google.png"></a>
          <a href="#"><img src="/img/login-linkedin.png"></a>
          <a href="#"><img src="/img/login-facebook.png"></a>
        </div>

        <a id="esqueceu-contratante" href="#">Esqueceu a senha?</a>
      </div>

      <div class="img-contratante">
        <img src="/img/entre-contratante.png" alt="Contratante de Serviços">
      </div>

    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>

</body>

</html>