<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Entrar Contratante'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="container login-contratante col-12 m-0 p-0" id="login-contratante">
    <div class="content-ls row col-md-12 col-lg-10 col-xl-8 justify-content-around align-items-center m-0 p-0">

      <% if (typeof mensagemEmail != 'undefined') { %>
        <script>
          window.addEventListener('load', () => {
            const btnModal = document.querySelector("#esqueceu-contratante");
            btnModal.click();
          })
        </script>
      <% } %>

      <div class="form-contratante">
        <h2>Contratante</h2>
        <form action="/login/contratante" method="POST">
          <% if(typeof(msg) != "undefined"){ %>
            <div class="row alert alert-warning msgErroLogin">
              <img src="/img/alert.svg" alt="erro">
              <ul>
                  <li> <%- msg %> </li>
              </ul>
            </div>
          <% } %>

          <input class="campo-contratante" type="email" name="email" id="email" placeholder="Email">

          <% if(typeof(errors) != "undefined"){ %>
            <!-- ou seja, se houver erro... -->
            <% errors.forEach( error => { %>
              <% if(error.param == "email"){ %>
                <div class="row alert alert-warning msgErroLogin">
                  <img src="/img/alert.svg" alt="erro">
                  <% console.log(errors) %>
                  <!-- posso utilizar o array errors para informar a mensagem de erro, atravéz da prop msg... -->
                  <ul>
                      <li> <%- error.msg %> </li>
                  </ul>
                </div>
              <% } %>
            <% }) %>
          <% } %>

          <input class="campo-contratante" type="password" name="senha" id="senha" placeholder="Senha">

          <% if(typeof(errors) != "undefined"){ %>
            <!-- ou seja, se houver erro... -->
            <% errors.forEach( error => { %>
              <% if(error.param == "senha"){ %>
                <div class="row alert alert-warning msgErroLogin">
                  <img src="/img/alert.svg" alt="erro">
                  <% console.log(errors) %>
                  <!-- posso utilizar o array errors para informar a mensagem de erro, atravéz da prop msg... -->
                  <ul>
                      <li> <%- error.msg %> </li>
                  </ul>
                </div>
              <% } %>
            <% }) %>
          <% } %>

          <label class="check-contratante" for="checkbox-lembreContratante">
            <input id="checkbox-lembreContratante" type="checkbox" name="selecione" value="Lembre">
            Lembre de mim
          </label>
          <button class="entrar-contratante" type="submit">ENTRE</button>
        </form>

        <p>Faça login com:</p>
        <div class="faca-loginContratante">
          <a href="#"><img src="/img/login-google.png"></a>
          <a href="#"><img src="/img/login-linkedin.png"></a>
          <a href="#"><img src="/img/login-facebook.png"></a>
        </div>

        <!-- link trigger modal -->
        <a id="esqueceu-contratante" href="#" data-toggle="modal" data-target="#exampleModal">Esqueceu a senha?</a>
 
        <!-- modal esqueceu a senha -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-azul text-white">
                <h5 class="modal-title tituloSanfonaTopoMeusDados" id="exampleModalLabel">ESQUECEU SUA SENHA?</h5>
                <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body bg-roxoClaro">

                <% if(typeof mensagemEmail != 'undefined'){ %>
                  <div class="row ml-0 alert alert-success msgErroLogin">
                    <img src="/img/alert.svg" alt="ok">
                    <%= mensagemEmail  %> 
                  </div>
                <% } %>

                <form action="/login/contratante/recuperar-senha" method="POST">
                  <div class="row w-100 d-flex justify-content-center align-items-center">
                    <div class="col-5 d-flex justify-content-center align-items-center">
                      <img src="/img/recuperar.png" alt="recuperar senha" height="200px">
                    </div>
                  </div>
                  <div class="form-row">
                    <!-- input data nascimento -->
                    <div class="form-group col">
                      <label for="email" class="text-center">Informe o email associado a usa conta que enviaremos um link para recuperar o seu acesso!</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text etiquetaCampo">Email</span>
                        </div>
                        <input type="email" name="email" class="form-control campoMeusDadosStyle campoDadoReadonly" id="email">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="w-100 btn botaoMeusDados">ENVIAR</button>
                </form>
              </div>
              <div class="modal-footer bg-azul">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="img-contratante">
        <img src="/img/entre-contratante.png" alt="Contratante de Serviços">
      </div>

    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>

</body>

</html>