<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Entrar Prestador'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="login-prestador" id="login-prestador">

    <img class="img-prestador" src="/img/entre-prestador.png" alt="Prestador de Serviços">

    <div class="form-prestador">

      <h2>Prestador</h2>
      <form action="">

        <input class="campo-prestador" type="email" name="email" id="email" placeholder="Email">
        <input class="campo-prestador" type="password" name="senha" id="senha" placeholder="Senha">

        <label class="check-prestador" for="checkbox-lembrePrestador">
          <input id="checkbox-lembrePrestador" type="checkbox" name="selecione" value="Lembre">
          Lembre de mim
        </label>


        <button class="entrar-prestador" type="submit">ENTRE</button>

      </form>

      <p>Faça login com:</p>
      <div class="faca-loginPrestador">
        <a href="#"><img src="/img/login-google.png"></a>
        <a href="#"><img src="/img/login-linkedin.png"></a>
        <a href="#"><img src="/img/login-facebook.png"></a>
      </div>

      <a id="esqueceu-prestador" href="#">Esqueceu a senha?</a>

    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/script') %>

</body>

</html>