
<!-- PROFISSÕES - fim Modal ------------------------------------------------->
<%- include('include/p-profissaoMd') %>

<!-- card sanfona 1 ---------------------------------------------------------->
  <div class="card">
    <!-- topo 1 sanfona -->
    <div class="card-header sanfonaTopoMeusDados" id="headingOne">
      <h5 class="mb-0">

        <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <img src="/img/dados.png" alt="Meus dados" title="Meus dados">
          Pessoais
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <!-- formulario dados pessoais -->
        <form action="/usuario/area-prestador/meusDados/<%=data.prestador.id%>" method="GET">
          <!-- linha foto -->
          <div class="form-row">
            <!-- input data nascimento -->
            <div class="form-group col">
              <label for="nascimento">Perfil</label>
              <div class="input-group">
                <img src="/img/user.png" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">
              </div>
            </div>
          </div>

          <!-- input linha 1 -->
          <div class="form-row">
            <!-- input nome -->
            <div class="form-group col-md-6">
              <label for="nome">Nome</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">Nome</span>
                </div>
                <input type="text" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nomep"
                  value="<%= data.prestador.nome %>" readonly>
              </div>
            </div>

            <!-- input cpf -->
            <div class="form-group col-md-6">
              <label for="cpf">CPF</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">CPF</span>
                </div>
                <input type="number" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cpf"
                  value="<%= data.prestador.cpf %>" readonly maxlength="11" pattern="[0-9]+$">
              </div>
            </div>
          </div>

          <!-- input linha 2 -->
          <div class="form-row">
            <!-- input data nascimento -->
            <div class="form-group col">
              <label for="nascimento">Data Nascimento</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">Data Nascimento</span>
                </div>
                <input type="date" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nascimento"
                  value="<%= data.prestador.data_nascimento %>" readonly>
              </div>
            </div>
          </div>
          <!-- Button trigger modal -->
          <div class="d-flex justify-content-end"><button type="button" class="btn botaoMeusDados" data-toggle="modal"
              data-target="#editarDadosPessoaisContratante">Editar</button></div>
        </form>
      </div>
    </div>
  </div>


  <!-- Modal ------------------------------------------------------------------------------------>
  <div class="modal fade" id="editarDadosPessoaisContratante" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-azul text-white">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar dados pessoais</h5>
          <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-roxoClaro">
         

<!--FORM POST - UPDATE-->
          <form action="/usuario/area-prestador/meusDados/<%=data.prestador.id%>?_method=PUT" id="formp" method="POST">
            <!-- linha foto -->
            <div class="form-row">
              <!-- input foto escolhida -->
              <div class="form-group col-3">
                <label for="nascimento">Perfil</label>
                <div class="input-group">
                  <img src="/img/envio.png" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">
                </div>
              </div>
              <!-- input escolher perfil -->
              <div class="form-group col-9">
                <label for="nascimento">Envie sua foto</label>
                <div class="input-group d-flex justify-content-center">
                  <div class="custom-file align-self-center">
                    <input type="file" class="custom-file-input" id="customFileLang">
                    <label class="custom-file-label" for="customFileLang">Escolha um arquivo</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- input linha 1 -->
            <div class="form-row">
              <!-- input nome -->
              <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Nome</span>
                  </div>
                  <input type="text" class="form-control campoMeusDadosStyle campoDadoReadonly"
                    value="<%= data.prestador.nome %>" id="nomep" placeholder="Digite seu nome completo">
                </div>
              </div>
              <!-- input cpf -->
              <div class="form-group col-md-6">
                <label for="cpf">CPF</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">CPF</span>
                  </div>
                  <input type="number" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cpfp"
                    value="<%= data.prestador.cpf %>" placeholder="Digite seu cpf - apenas números" maxlength="11"
                    pattern="[0-9]+$">
                </div>
              </div>
            </div>
            <!-- input linha 2 -->
            <div class="form-row">
              <!-- input data nascimento -->
              <div class="form-group col">
                <label for="nascimento">Data Nascimento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text etiquetaCampo">Data Nascimento</span>
                  </div>
                  <input type="date" class="form-control campoMeusDadosStyle campoDadoReadonly"
                    value="<%= data.prestador.data_nascimento %>" id="nascimentop">
                </div>
              </div>
            </div>
          
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn botaoMeusDados">SALVAR</button></div>
          </form>
         
        </div>
        <div class="modal-footer bg-azul">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
<!-- fim Modal ------------------------------------------------------------>


<!-- ENDEREÇOS - fim Modal ------------------------------------------------>
<%- include('include/p-enderecoMd') %>

<!-- CONTATOS - fim Modal ------------------------------------------------->
<%- include('include/p-contatosMd') %>

<!-- CONTA - fim Modal ----------------------------------------------------->
<%- include('include/p-contaMd') %>


<!-- sanfona --------------------------------------------------------------->