    <!-- sanfona -------------------------------------------------------->
  <div id="accordion">
    <!-- card sanfona 1 ------------------------------------------------->
    <div class="card">
      <!-- topo 1 sanfona -->
      <div class="card-header sanfonaTopoMeusDados" id="headingOne">
        <h5 class="mb-0">
          
          <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <img src="/img/dados.png" alt="Meus dados" title="Meus dados">
            Pessoais
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <!-- formulario dados pessoais -->
          
         
            <form action="/usuario/area-contratante/meus-dados/<%=data.cliente.id%>" method="GET"> 
              <!-- linha foto -->
              <div class="form-row">
                <!-- input data nascimento -->
                <div class="form-group col">
                  <label for="nascimento">Perfil</label>
                  <div class="input-group">
                    <img src="/img/user.png" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">
                  </div>
                </div>
              </div>
  
            <!-- input linha 1 -->
              <div class="form-row">
                <!-- input nome -->
                <div class="form-group col-md-6">
                  <label for="nome">Nome</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Nome</span>
                    </div>
                    <input type="text" name="contratanteNome" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nome" value="<%= data.cliente.nome %>" readonly>
                  </div>
                </div>
  
                <!-- input cpf -->
                <div class="form-group col-md-6">
                  <label for="cpf">CPF</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">CPF</span>
                    </div>
                    <input type="number" name="contratanteCpf" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cpf" value="<%= data.cliente.cpf %>" readonly maxlength="11" pattern="[0-9]+$">
                  </div>
                </div>
              </div>
  
              <!-- input linha 2 -->
              <div class="form-row">
                <!-- input data nascimento -->
                <div class="form-group col">
                  <label for="nascimento">Data Nascimento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Data Nascimento</span>
                    </div>
                    <input type="date" name="contratanteNascimento" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nascimento" value="<%= data.cliente.data_nascimento %>" readonly>
                  </div>
                </div>
              </div>
  
              <!-- botao editar ABRE O MODAL-->
              <!-- Button trigger modal -->
              <div class="d-flex justify-content-end">
                <button type="button" class="btn botaoMeusDados" data-toggle="modal" data-target="#editarDadosPessoaisContratante">Editar</button>
              </div>
            </form>
         
            
         
          
          
         
       
        </div>
      </div>
    </div>
<!-- Modal ------------------------------------------------->

<!-- Modal -->
<div class="modal fade" id="editarDadosPessoaisContratante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-azul text-white">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar dados pessoais</h5>
        <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-roxoClaro">

       

        <form action="/usuario/area-contratante/meus-dados/<%=data.cliente.id%>?_method=PUT"  id="formdp1" method="POST" enctype="multipart/form-data"> 
          <!-- linha foto -->
          <div class="form-row">
            <!-- input foto escolhida -->
            <div class="form-group col-3">
              <label for="nascimento">Perfil</label>
              <div class="input-group">
                <img src="/img/envio.png" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados"> 
              </div>
            </div>
        
            <div class="form-group col-9">
              <label for="photo">Envie sua foto</label>
              <div class="input-group d-flex justify-content-center">
                  <div class="custom-file align-self-center">
                    <input type="file" name="photo" id="photo" class="custom-file-input">
                    <label class="custom-file-label" for="photo">Escolha um arquivo</label>
                  </div>
              </div>
            </div>
          </div>
        <!-- input linha 1 -->
          <div class="form-row">
            <!-- input nome -->
            <div class="form-group col-md-6">
              <label for="nome">Nome</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">Nome</span>
                </div>
                <input type="text" name="contratanteNome" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nome" value="<%= data.cliente.nome %>">
              </div>
            </div>
            <!-- input cpf -->
            <div class="form-group col-md-6">
              <label for="cpf">CPF</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">CPF</span>
                </div>
                <input type="number" name="contratanteCpf" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cpf" value="<%= data.cliente.cpf %>" maxlength="11" pattern="[0-9]+$">
              </div>
            </div>
          </div>
          <!-- input linha 2 -->
          <div class="form-row">
            <!-- input data nascimento -->
            <div class="form-group col">
              <label for="nascimento">Data Nascimento</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">Data Nascimento</span>
                </div>
                <input type="date" name="contratanteNascimento" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nascimento" value="<%= data.cliente.data_nascimento %>">
              </div>
            </div>
          </div>
          <!--div validação-->
          <div id="error-list" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
            <ul>
            </ul>
            <button type="button" class="close" id="close-listP" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
       
          </div>
               <!-- botao editar ABRE O MODAL-->
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn botaoMeusDados" id="botaodp">SALVAR</button>
            </div>
            <%- include('include/script') %>
        </form>
       
        <!-- ................................. -->
      </div>
      <div class="modal-footer bg-azul">
        
      </div>
    </div>
  </div>
  
</div>
<!-- ENDEREÇO - fim Modal ------------------------------------------------->
<%- include('include/c-enderecoMd') %>

<!-- CONTATOS -  fim Modal ------------------------------------------------->
<%- include('include/c-contatosMd') %>

<!-- CONTA - card sanfona 4 ------------------------------------------------->
<%- include('include/c-contaMd') %>