    <!-- sanfona -------------------------------------------------------->
  <div id="accordion">
    <% if(!data.cliente.contatos || !data.cliente.endereco) { %>
      <p class="finalizarCad"><img src="/img/alert.svg" alt="">Finalize seu cadastro</p>
    <% } %> 

    <!-- card sanfona 1 ------------------------------------------------->
    <div class="card">
      <!-- topo 1 sanfona -->
      <div class="card-header sanfonaTopoMeusDados" id="headingOne">
        <h5 class="mb-0">
          
          <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <img src="/img/dados.png" alt="Meus dados" title="Meus dados">
            Pessoais
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <!-- formulario dados pessoais -->
          
         
            <form action="/usuario/area-contratante/meus-dados/<%=data.cliente.id%>" method="GET"> 
              <!-- linha foto -->
              <div class="form-row">
                <!-- input data nascimento -->
                <div class="form-group col">
                  <label for="nascimento">Perfil </label>
                  <div class="input-group">
                    <% if(data.cliente.avatar == 0){ %>
                      <img src="/img/userEmpty.jpeg" width="120px" height="120px" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">
                    <% } else {%> 
                      <img src="<%= data.cliente.avatar %>" width="120px" height="120px" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">

                    <% } %> 
                  </div>
                </div>
              </div>
  
            <!-- input linha 1 -->
              <div class="form-row">
                <!-- input nome -->
                <div class="form-group col-md-6">
                  <label for="nome">Nome </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Nome</span>
                    </div>
                    <input type="text" name="contratanteNome" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nomec" value="<%= data.cliente.nome %>" readonly>
                  </div>
                </div>
  
                <!-- input cpf -->
                <div class="form-group col-md-6">
                  <label for="cpf">CPF</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">CPF</span>
                    </div>
                    <input type="number" name="contratanteCpf" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cpfc" value="<%= data.cliente.cpf %>" readonly maxlength="11" pattern="[0-9]+$">
                  </div>
                </div>
              </div>
  
              <!-- input linha 2 -->
              <div class="form-row">
                <!-- input data nascimento -->
                <div class="form-group col">
                  <label for="nascimento">Data Nascimento </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Data Nascimento</span>
                    </div>
                    <input type="date" name="contratanteNascimento" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nascimentoc" value="<%= data.moment(data.cliente.data_nascimento).format('YYYY-MM-DD') %>" readonly>
                  </div>
                </div>
              </div>

  
              <!-- botao editar ABRE O MODAL-->
              <!-- Button trigger modal -->
              <div class="d-flex justify-content-end">
                <button type="button" class="btn botaoMeusDados" data-toggle="modal" data-target="#editarDadosPessoaisContratante">Editar</button>
              </div>
            </form>
         
        </div>
      </div>
    </div>
<!-- Modal ------------------------------------------------->

<!-- Modal -->
<div class="modal fade" id="editarDadosPessoaisContratante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-azul text-white">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar dados pessoais</h5>
        <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-roxoClaro">

       

        <form action="/usuario/area-contratante/meus-dados/<%=data.cliente.id%>?_method=PUT"  id="formdcup1" enctype="multipart/form-data" method="POST"> 
          <!-- linha foto -->
          <div class="form-row">
            <!-- input foto escolhida -->
            <div class="form-group col-3">
              <label for="photo">Perfil <span class="campoObrigatorio">*</span></label>
              <% if(data.cliente.avatar == 0){ %>
                <img src="/img/userEmpty.jpeg" width="120px" height="120px" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">
              <% } else {%>
                <img src="<%= data.cliente.avatar %>" width="120px" height="120px" alt="Meu Perfil" title="Meu Perfil" class="img-thumbnail perfilMeusDados">

              <% } %> 
            </div>
        
            <div class="form-group col-9">
              <label for="photo">Envie sua foto</label>
              <div class="input-group d-flex justify-content-center">
                  <div class="custom-file align-self-center">
                    <input type="file" name="photo" id="photo" class="custom-file-input" value="<%= data.cliente.avatar %>">
                    <label class="custom-file-label" name="photo" for="photo">Escolha um arquivo</label>
                  </div>
              </div>
            </div>
            
            
          </div>
        <!-- input linha 1 -->
          <div class="form-row">
            <!-- input nome -->
            <div class="form-group col-md-6">
              <label for="nome">Nome <span class="campoObrigatorio">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">Nome</span>
                </div>
                <input type="text" name="contratanteNome" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nomecUp" value="<%= data.cliente.nome %>">
              </div>
            </div>
            <!-- input cpf -->
            <div class="form-group col-md-6">
              <label for="cpf">CPF</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">CPF</span>
                </div>
                <input type="number" name="contratanteCpf" class="form-control campoMeusDadosStyle campoDadoReadonly" id="cpfcUp" value="<%= data.cliente.cpf %>" maxlength="11" pattern="[0-9]+$" disabled>
              </div>
            </div>
          </div>
          <!-- input linha 2 -->
          <div class="form-row">
            <!-- input data nascimento -->
            <div class="form-group col">
              <label for="nascimento">Data Nascimento <span class="campoObrigatorio">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text etiquetaCampo">Data Nascimento</span>
                </div>
                <input type="date" name="contratanteNascimento" class="form-control campoMeusDadosStyle campoDadoReadonly" id="nascimentocUp" value="<%= data.cliente.data_nascimento %>">
              </div>
            </div>
          </div>
          <label for="">(<span class="campoObrigatorio">*</span>) Campos obrigatórios</label>

          <!--div validação-->
          <div id="error-list" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
            <ul>
            </ul>
          <button type="button" class="close" id="close-listP" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
            </button>
       
          </div>
               <!-- botao editar ABRE O MODAL-->
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn botaoMeusDados" id="botaodp">SALVAR</button>
            </div>
         
        </form>
       
        <!-- ................................. -->
      </div>
      <div class="modal-footer bg-azul">
        
      </div>
    </div>
  </div>
  
</div>
<!-- ENDEREÇO - fim Modal ------------------------------------------------->
    <!-- card sanfona 2 ------------------------------------------------->
    <div class="card">
        <!-- topo 2 sanfona -->
        <div class="card-header sanfonaTopoMeusDados" id="headingTwo">
          <h5 class="mb-0">
            
            <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <img src="/img/endereco.png" alt="Meus dados" title="Meus dados">
              Endereço
            </button>
          </h5>
        </div>
  
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
         
<%- include('include/c-enderecoMd') %>
</div>
</div>
<!--MODAL-->
<div class="modal fade" id="editarDadosEnderecoContratante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-azul text-white">
          <h5 class="modal-title" id="exampleModalLongTitle">Inclua seu endereço </h5>
          <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%- include('include/c-post-endereco') %>
        <div class="modal-footer bg-azul">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
      
    </div>

<!-- CONTATOS -  fim Modal ------------------------------------------------->

<!-- card sanfona 3 -------------------------------------------------------->
    <div class="card">
      <div class="card-header sanfonaTopoMeusDados" id="headingThree">
        <h5 class="mb-0">
          
          <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <img src="/img/contato.png" alt="Meus dados" title="Meus dados">
            Contato 
          </button>
        </h5>
      </div>

      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        
<%- include('include/c-contatosMd') %>
  </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="editarDadosContatoContratante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-azul text-white">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar contato</h5>
          <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%- include('include/c-post-contatos') %>
        <div class="modal-footer bg-azul">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
     
    </div>

<!-- CONTA - card sanfona 4 ------------------------------------------------->

<div class="card">
<!-- topo 4 sanfona -->
    <div class="card-header sanfonaTopoMeusDados" id="headingFour">
      <h5 class="mb-0">
        
        <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <img src="/img/conta.png" alt="Meus dados" title="Meus dados">
          Conta
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <%- include('include/c-contaMd') %>
    <div class="container-fluid bg-azul rodapeMeusDadosSanfona">

    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editarDadosContaContratante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-azul text-white">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar dados da conta</h5>
          <button type="button" class="close fecharModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- FORM MODAL -->
        <%- include('include/c-post-conta') %>
        <div class="modal-footer bg-azul">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
     
    </div>
    <!-- Include script -->
    <%- include('include/script') %>