<!-- sanfona historico -------------------------------------------------->
<div id="accordion">
    <!-- card sanfona 4 ------------------------------------------------->
    <div class="card">
        <!-- topo 4 sanfona -->
        <div class="card-header sanfonaTopoMeusDados" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <img src="/img/icon-historico.svg" alt="Meus dados" title="Meus dados">
                    Orçamento Pedido Nº <%=data.pedido.numeroPedido%>
                </button>
            </h5>
        </div>

        <div class="collapse show">
            <div class="card-body">
                <!-- orcamento -->
                <%if(typeof data.msg != "undefined"){ %>
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        <%=data.msg%>
                    </div>
                </div>
                <% } %>
                <div class="col-12">
                    <div class="card p-0 m-0" style="border: none;">
                        <div class="card-body">

                            <style>
                                .form-control:disabled, .form-control[readonly]{
                                    background-color: #fff;
                                    opacity: 1;
                                }
                                .inputOrcamento{
                                    border: none;
                                    border-bottom: #203573 3px solid;
                                    border-radius: 0;
                                }
                            </style>

                                <div class="form-row mb-3">
                                    <div class="col-6">
                                        <label>Prestador</label>
                                        <input type="text" name="prestador" class="inputOrcamento form-control"
                                        placeholder="Nome do prestador" value="<%=data.pedido.nomePrestador%>" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label>Cliente</label>
                                        <input type="text" name="cliente" class="inputOrcamento form-control"
                                        placeholder="Nome do cliente" value="<%=data.pedido.nomeCliente%>" readonly>
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-6">
                                        <label>Serviço</label>
                                        <input type="text" name="servico" class="inputOrcamento form-control"
                                            placeholder="Titulo do pedido" value="<%=data.pedido.titulo%>" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label>Data marcada para o serviço</label>
                                        <input type="date" name="dataServico" value="<%=data.moment(data.pedido.dataServico).format('YYYY-MM-DD')%>" class="inputOrcamento form-control" readonly>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group">
                                    <label>Detalhes do Serviço</label>
                                    <textarea class="inputOrcamento form-control" name="detalhes" id="detalhes"
                                        cols="30" rows="auto" value="teste de detalhes" readonly><%=data.pedido.descricao%></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Resumo do Serviço</label>
                                    <textarea class="inputOrcamento form-control" name="resumo" id="detalhes"
                                        cols="30" rows="auto" readonly><%=data.pedido.resumo%></textarea>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-6">
                                        <label>Valor</label>
                                        <input type="number" name="valor" class="inputOrcamento form-control"
                                        placeholder="Valor do orçamento" value="<%=data.pedido.valor%>" readonly>
                                    </div>
                                    <div class="col-6 d-flex align-items-center justify-content-center">
                                        <div class="row w-100">
                                            <div class="col-6">
                                                <form action="/usuario/area-contratante/orcamentos" method="POST">
                                                    <input type="text" name="idPedido" value="<%=data.pedido.numeroPedido%>" readonly hidden>
                                                    <input type="number" name="resposta" value="1" hidden>
                                                    <button type="submit" id="modalPedido" class="w-100 btn btn-success bg-verde">Aceitar</button>
                                                </form>
                                            </div>
                                            <div class="col-6">
                                                <form action="/usuario/area-contratante/orcamentos" method="POST">
                                                    <input type="text" name="idPedido" value="<%=data.pedido.numeroPedido%>" readonly hidden>
                                                    <input type="number" name="resposta" value="0" hidden>
                                                    <button type="submit" id="modalPedido" class="w-100 btn bg-roxo">Rejeitar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-fluid bg-azul rodapeMeusDadosSanfona"></div>
        </div>
    </div>
</div>
<!-- sanfona -------------------------------------------------------->