<!DOCTYPE html>
<html lang="pt-br">
    <%- include('include/head', {title:'Home'}) %>

    <body>
        <%- include('include/header')%>
        <%- include('include/menuNav') %>
        <main class="container">
            <section class="row container-main-single">
                <div class="col-lg-3">
                        <div class="card cards-single card-payment mb-3">
                            <div class="card-header">
                                Contrate
                            </div>
                            <div class="card-body text-center">
                                <div class="method-payment container-payment container-payment-desk">
                                    <p><strong>Valor</strong>: Combinar</p>
                                    <p><strong>Agenda</strong>: Combinar</p>
                                    <img src="/img/formpayment.png"  class="img-fluid" alt="">
                                    <img src="/img/formpayment2.png" class="img-fluid" alt="">
                                    <button class="" data-toggle="modal" data-target="#modal-preorcamento">Solicitar Orçamento</button>
                                </div>
                          </div>
                    </div>
                </div>    
                <div class="col-12 col-lg-9 card-single">
                    <div class="card cards-single mb-3">
                        <div class="card-header">
                            Mario Luigi Mamamia Silva<br>
                            Encanador
                        </div>
                        <div class="row p-2">
                            <div class="col-12 col-md-6">
                                <div class="card-body text-center container-avatar-single">
                                    <img class="img-fluid rounded-circle avatar-about-single m-auto" src="/img/mario-perfil.png" alt=""> 
                                </div>
                            
                                <div class="about-prestador">
                                    <h5>Sobre</h5>
                                    <p style="min-height:250px;"> 
        O tradicional personagem Mario foi concebido em 1980, quando depois do fracasso da Nintendo em tentar idealizar um jogo baseado no desenho Popeye, o japonês Shigeru Miyamoto foi solicitado para projetar um novo game baseado em suas próprias ideias. <strong>Veja +</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ">

                                <div class="method-payment container-payment">
                                    <p><strong>Valor</strong>: Combinar</p>
                                    <p><strong>Agenda</strong>: Combinar</p>
                                    <img src="/img/formpayment.png" alt="">
                                    <img src="/img/formpayment2.png" alt="">
                                    <button class="" data-toggle="modal" data-target="#modal-preorcamento">Solicitar Orçamento</button>
                                </div>
                            
                            <!-- <div class="col-12 col-md-6" style="position: absolute; top: 8px; right: 5px;" > -->
                                <div class="location">
                                    <div class="card-body text-center container-avatar-single-desk">
                                        <img class="img-fluid rounded-circle avatar-about-single m-auto" src="/img/mario-perfil.png" alt="">
                                    </div>`
                                    
                                    <div class="container-social">
                                        <div class="social">
                                            <img class="img-fluid" src="/img/face-icon.png" alt=""> 
                                            <img class="img-fluid" src="/img/instagram-icon.png" alt=""> 
                                        </div>
                                        <div>
                                            <h5>Localização</h5>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8740.9380480686!2d135.75112693699245!3d34.9709481878843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010f59e4c66699%3A0x489ba724490b2280!2sNintendo%20-%20Sede%20Empresarial!5e0!3m2!1spt-BR!2sbr!4v1587513531927!5m2!1spt-BR!2sbr" width="320" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                      </div>
                </div>
            </section>
            <section class="row">
                <div class="col-12">
                    <div class="card cards-single mb-3">
                        <div class="card-header">
                            Galeria
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-12 col-md-4 ">
                                    <div class="img-galeria">
                                        <img class="img-fluid" src="/img/mariojob1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 ">
                                    <div class="img-galeria">
                                        <img class="img-fluid" src="/img/mariojob2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 ">
                                    <div class="img-galeria">
                                        <img class="img-fluid" src="/img/mariojob3.png" alt="">
                                    </div>
                                </div>
                            </div>
                      </div>
                </div>
            </section>
            <section class="row">
                <div class="col-12">
                    <div class="card cards-single mb-3">
                        <div class="card-header">
                            Avaliações
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-1">
                                    <div class="rating-single">
                                        <div class="row avatar-rating">
                                            <div class="col-3">
                                                <img src="/img/toad-perfil.png" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <div class="col-9 font-weight-bold">
                                                Vinicius Oliveira
                                            </div>
                                        </div>
                                        <div class="row p-3">
                                            <div class="col-12 text-justify">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse unde cupiditate corrupti, velit maxime quos iure officiis tempore maiores vitae adipisci modi deleniti sit, officia repellendus, quas fugit. Mollitia.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-1">
                                    <div class="rating-single">
                                        <div class="row avatar-rating ">
                                            <div class="col-3">
                                                <img src="/img/peach-perfil.png" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <div class="col-9 font-weight-bold">
                                                Natalia Lira
                                            </div>
                                        </div>
                                        <div class="row p-3">
                                            <div class="col-12 text-justify">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse unde cupiditate corrupti, velit maxime quos iure officiis tempore maiores vitae adipisci modi deleniti sit, officia repellendus, quas fugit. Mollitia.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                </div>
            </section>
        </main>
  
  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg"  id="modal-preorcamento" tabindex="-1" role="dialog" aria-labelledby="modal-preorcamento" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-pre-ocarmento" >
        <div class="modal-header" style="border: none;">
          <!--<h5 class="modal-title" id="exampleModalLabel"></h5>-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-0 col-md-6 figure-preorcamento">
                      <h1 class="titulo-preorcamento">Precisando de Encanador?</h1>
                      <small>Negocie apenas com os melhores.</small>
                      <img class="img-fluid" src="/img/figure-orcamento.png" alt="">
                  </div>
                  <div class="col-12 col-lg-6">
                        <div class="card p-0 m-0" style="border: none;">
                            <div class="card-header card-hd-orcamento m-0">
                                Descreva Seu Pedido
                            </div>
                            <div class="card-body">
                                <form action="/prestador/single" method="POST">
                                    <div class="form-group">
                                      <label>Serviço</label>
                                      <input type="text" name="servico" class="form-control input-form-preocarmento" placeholder="Titulo do pedido">
                                    </div>
                                    <div class="form-group">
                                        <label>Para quando você precisa desse serviço?</label>
                                        <input type="date" name="dataServico" class="form-control input-form-preocarmento">
                                    </div>
                                    <div class="form-group">
                                      <label>Detalhes do Serviço</label>
                                        <textarea class="form-control input-form-preocarmento" name="detalhes" id="detalhes" cols="30" rows="6"></textarea>
                                    </div> 
                                    <button type="submit" class="btn-form-preorcamento">Solicitar Orçamento</button>

                                    <input type="text" name="idPrestador" value="<%= idPrestador %>" hidden>
                                  </form>
                          </div>
                  </div>
              </div>
          </div>
        </div>
        <!--<div class="modal-footer" style="border: none;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
      </div>
    </div>
  </div>


        
        <%- include('include/footer') %>
        <%- include('include/script') %>
    </body>
    <style>.img-footer{ display: none;}</style>
</html>