<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'Contato'}) %>

<body class="corpoContato">
    <%- include('include/header')%>
    <%- include('include/menuNav') %>

    <!-- sessão contato com o sistema -->
    <main class="container mx-auto my-5">
       <section>
           <div class="container">
                <div class="sobreNos">
                       <h3 class="mb-3 p-0">Quem Somos?</h3>
                       <p class="text-justify">
                            HollsHall é um sistema de busca de profissionais e marcação de serviços. Desenvolvido por um grupo de estudantes do Santander Coders by Digital House. 
                            O sistema consta com uma plataforma para clientes em busca de bons profissionais assim, também, como uma para que os melhores profissionais possam criar, desenvolver e divulgar o seu perfil online. 
                            Pensado para dinamizar a busca por profissionais qualificados e respectivamente agendar e pagar serviços de uma forma mais simples e segura. O ToolsHall conta com 
                            a possibilidade de avaliação dos profissionais de acordo com o serviço prestado, sistema de chat e suporte.
                       </p> 

                       <div class="github">
                           <h4 class="mt-3 mb-3 p-0">Co-Founders</h4>
                           <div class="row w-100 d-flex justify-content-center mb-2">
                            <div class="perfil">
                                <div class="pf-foto"><img src="/img/luana.jpg" alt="perfil"></div>
                                <div class="pf-cont d-flex flex-column">
                                    <p class="m-0 p-0">Luana Lencina</p>
                                    <a href="https://www.linkedin.com/in/luana-lencina-dos-santos-944474195/" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/linkedinpf.png" alt="">
                                        Linkedin
                                    </a>
                                    <a href="https://github.com/LuanaLencinaS" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/githubpf.png" alt="">
                                        Github
                                    </a>
                                </div>
                            </div>
                            
                            <div class="perfil">
                                <div class="pf-foto"><img src="/img/josefelipe.jpg" alt="perfil"></div>
                                <div class="pf-cont d-flex flex-column">
                                    <p class="m-0 p-0">José Felipe</p>
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/linkedinpf.png" alt="">
                                        Linkedin
                                    </a>
                                    <a href="https://github.com/joseFelipe7" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/githubpf.png" alt="">
                                        Github
                                    </a>
                                </div>
                            </div>

                            <div class="perfil">
                                <div class="pf-foto"><img src="/img/bruna.jpg" alt="perfil"></div>
                                <div class="pf-cont d-flex flex-column">
                                    <p class="m-0 p-0">Bruna Oliveira</p>
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/linkedinpf.png" alt="">
                                        Linkedin
                                    </a>
                                    <a href="https://github.com/brunaoflofl" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/githubpf.png" alt="">
                                        Github
                                    </a>
                                </div>
                            </div>
                           </div>
                           <div class="row w-100 d-flex justify-content-center mt-2">
                            <div class="perfil">
                                <div class="pf-foto"><img src="/img/kevin.jpg" alt="perfil"></div>
                                <div class="pf-cont d-flex flex-column">
                                    <p class="m-0 p-0">Kevin Christian</p>
                                    <a href="https://www.linkedin.com/in/kevin-ribeiro-503b7b190/" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/linkedinpf.png" alt="">
                                        Linkedin
                                    </a>
                                    <a href="https://github.com/kevinnchristian" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/githubpf.png" alt="">
                                        Github
                                    </a>
                                </div>
                            </div>

                            <div class="perfil">
                                <div class="pf-foto"><img src="/img/andre.jpg" alt="perfil"></div>
                                <div class="pf-cont d-flex flex-column">
                                    <p class="m-0 p-0">André Siqueira</p>
                                    <a href=" https://www.linkedin.com/in/andr%C3%A9-siqueira-romano-de-araujo-206a26160/" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/linkedinpf.png" alt="">
                                        Linkedin
                                    </a>
                                    <a href="https://github.com/siqueiraandre88" target="_blank" rel="noopener noreferrer">
                                        <img src="/img/githubpf.png" alt="">
                                        Github
                                    </a>
                                </div>
                            </div>
                           </div>
                       </div>
                 </div>
           </div>
          
           
       </section>
    </main>

    <%- include('include/footer') %>
    <%- include('include/script') %>
</body>

</html>