<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'Contato'}) %>

<body class="corpoContato">
    <%- include('include/header')%>
    <%- include('include/menuNav') %>

    <!-- sessão contato com o sistema -->
    <main class="container mx-auto my-5">
        <div class="row d-flex justify-content-center">
            <% if (typeof msgEnviado != 'undefined') { %>
                <div class="row alert alert-success msgErroLogin">
                    <img src="/img/alert.svg" alt="ok">
                    <%= msgEnviado  %>
                </div>
            <% } %>
            <!-- card sanfona 3 ------------------------------------------------->
     
        </div>
    </main>

    <%- include('include/footer') %>
    <%- include('include/script') %>
</body>

</html>